In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

## 1. Bank Marketing

#### Abstract: 
The data is related with direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a term deposit (variable y).

#### Data Set Information: 
The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed.

#### Attribute Information:
###### Bank client data:

   - Age (numeric)
   - Job : type of job (categorical: 'admin.', 'blue-collar', 'entrepreneur', 'housemaid', 'management', 'retired', 'self-employed', 'services', 'student', 'technician', 'unemployed', 'unknown')
   - Marital : marital status (categorical: 'divorced', 'married', 'single', 'unknown' ; note: 'divorced' means divorced or widowed)
   - Education (categorical: 'basic.4y', 'basic.6y', 'basic.9y', 'high.school', 'illiterate', 'professional.course', 'university.degree', 'unknown')
   - Default: has credit in default? (categorical: 'no', 'yes', 'unknown')
   - Housing: has housing loan? (categorical: 'no', 'yes', 'unknown')
  - Loan: has personal loan? (categorical: 'no', 'yes', 'unknown')

##### Related with the last contact of the current campaign:

   - Contact: contact communication type (categorical: 'cellular','telephone')
   - Month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
  -  Day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
   - Duration: last contact duration, in seconds (numeric). 
Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.

##### Other attributes:

   - Campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
   - Pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
   - Previous: number of contacts performed before this campaign and for this client (numeric)
   - Poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')

##### Social and economic context attributes

   - Emp.var.rate: employment variation rate - quarterly indicator (numeric)
   - Cons.price.idx: consumer price index - monthly indicator (numeric)
   - Cons.conf.idx: consumer confidence index - monthly indicator (numeric)
   - Euribor3m: euribor 3 month rate - daily indicator (numeric)
   - Nr.employed: number of employees - quarterly indicator (numeric)

##### Output variable (desired target):

   - y - has the client subscribed a term deposit? (binary: 'yes', 'no')

In [2]:
bank_marketing = pd.read_csv('bank-marketing/bank-additional-full.csv',delimiter=';')

In [3]:
bank_marketing

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
10,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
11,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
12,29,blue-collar,single,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
13,57,housemaid,divorced,basic.4y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
14,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
15,54,retired,married,basic.9y,unknown,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
16,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
17,46,blue-collar,married,basic.6y,unknown,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
18,50,blue-collar,married,basic.9y,no,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
19,39,management,single,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
20,30,unemployed,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
21,55,blue-collar,married,basic.4y,unknown,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
22,55,retired,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
23,41,technician,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
24,37,admin.,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
25,35,technician,married,university.degree,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
26,59,technician,married,unknown,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
27,39,self-employed,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
28,54,technician,single,university.degree,unknown,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
29,55,unknown,married,university.degree,unknown,unknown,unknown,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41158,35,technician,divorced,basic.4y,no,no,no,cellular,nov,tue,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.035,4963.6,yes
41159,35,technician,divorced,basic.4y,no,yes,no,cellular,nov,tue,...,1,9,4,success,-1.1,94.767,-50.8,1.035,4963.6,yes
41160,33,admin.,married,university.degree,no,no,no,cellular,nov,tue,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.035,4963.6,yes
41161,33,admin.,married,university.degree,no,yes,no,cellular,nov,tue,...,1,999,1,failure,-1.1,94.767,-50.8,1.035,4963.6,no
41162,60,blue-collar,married,basic.4y,no,yes,no,cellular,nov,tue,...,2,4,1,success,-1.1,94.767,-50.8,1.035,4963.6,no
41163,35,technician,divorced,basic.4y,no,yes,no,cellular,nov,tue,...,3,4,2,success,-1.1,94.767,-50.8,1.035,4963.6,yes
41164,54,admin.,married,professional.course,no,no,no,cellular,nov,tue,...,2,10,1,success,-1.1,94.767,-50.8,1.035,4963.6,yes
41165,38,housemaid,divorced,university.degree,no,no,no,cellular,nov,wed,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,yes
41166,32,admin.,married,university.degree,no,no,no,telephone,nov,wed,...,1,999,1,failure,-1.1,94.767,-50.8,1.030,4963.6,yes
41167,32,admin.,married,university.degree,no,yes,no,cellular,nov,wed,...,3,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,no
41168,38,entrepreneur,married,university.degree,no,no,no,cellular,nov,wed,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,no
41169,62,services,married,high.school,no,yes,no,cellular,nov,wed,...,5,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,no
41170,40,management,divorced,university.degree,no,yes,no,cellular,nov,wed,...,2,999,4,failure,-1.1,94.767,-50.8,1.030,4963.6,no
41171,33,student,married,professional.course,no,yes,no,telephone,nov,thu,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,yes
41172,31,admin.,single,university.degree,no,yes,no,cellular,nov,thu,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,yes
41173,62,retired,married,university.degree,no,yes,no,cellular,nov,thu,...,1,999,2,failure,-1.1,94.767,-50.8,1.031,4963.6,yes
41174,62,retired,married,university.degree,no,yes,no,cellular,nov,thu,...,1,1,6,success,-1.1,94.767,-50.8,1.031,4963.6,yes
41175,34,student,single,unknown,no,yes,no,cellular,nov,thu,...,1,999,2,failure,-1.1,94.767,-50.8,1.031,4963.6,no
41176,38,housemaid,divorced,high.school,no,yes,yes,cellular,nov,thu,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,no
41177,57,retired,married,professional.course,no,yes,no,cellular,nov,thu,...,6,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,no
41178,62,retired,married,university.degree,no,no,no,cellular,nov,thu,...,2,6,3,success,-1.1,94.767,-50.8,1.031,4963.6,yes
41179,64,retired,divorced,professional.course,no,yes,no,cellular,nov,fri,...,3,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41180,36,admin.,married,university.degree,no,no,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41181,37,admin.,married,university.degree,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41182,29,unemployed,single,basic.4y,no,yes,no,cellular,nov,fri,...,1,9,1,success,-1.1,94.767,-50.8,1.028,4963.6,no
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [4]:
bank_marketing.y.value_counts()/bank_marketing.y.count()

no     0.887346
yes    0.112654
Name: y, dtype: float64

In [5]:
X = bank_marketing.iloc[:,0:20]
y = bank_marketing.y
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0,stratify = y,test_size = 0.3)

In [6]:
X_test.shape

(12357, 20)

In [7]:
X_test.reset_index(drop=True,inplace=True)
y_test.reset_index(drop=True,inplace=True)
bank_marketing2 = pd.concat([X_test,y_test],axis=1)
bank_marketing2

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,25,admin.,single,unknown,no,yes,no,telephone,nov,mon,...,4,999,0,nonexistent,-3.4,92.649,-30.1,0.714,5017.5,no
1,46,services,married,high.school,no,no,no,cellular,apr,wed,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.445,5099.1,no
2,40,entrepreneur,married,university.degree,no,no,no,cellular,jul,wed,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
3,57,housemaid,married,basic.6y,unknown,yes,no,telephone,may,tue,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,36,self-employed,married,high.school,unknown,yes,no,cellular,aug,mon,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
5,32,management,single,university.degree,no,yes,no,cellular,mar,tue,...,1,999,0,nonexistent,-1.8,92.843,-50.0,1.687,5099.1,no
6,38,entrepreneur,single,university.degree,no,no,no,cellular,aug,mon,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
7,33,blue-collar,single,basic.9y,no,no,no,telephone,jun,fri,...,18,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
8,26,housemaid,single,unknown,no,yes,yes,cellular,may,fri,...,3,999,1,failure,-1.8,92.893,-46.2,1.250,5099.1,no
9,25,unemployed,single,high.school,unknown,no,no,telephone,may,wed,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,yes
10,30,admin.,married,university.degree,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,no
11,49,admin.,single,high.school,no,no,no,telephone,jul,thu,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no
12,41,services,divorced,high.school,no,no,yes,telephone,may,wed,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
13,56,admin.,married,university.degree,no,yes,no,cellular,aug,mon,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.970,5228.1,no
14,27,admin.,single,high.school,unknown,no,no,telephone,may,thu,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
15,27,student,single,university.degree,no,yes,no,cellular,oct,fri,...,1,999,3,failure,-1.1,94.601,-49.5,0.942,4963.6,no
16,34,services,single,high.school,no,yes,no,telephone,may,thu,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1,no
17,71,admin.,married,basic.4y,no,yes,yes,cellular,may,fri,...,4,3,2,success,-1.8,93.876,-40.0,0.684,5008.7,yes
18,24,student,single,university.degree,no,no,no,cellular,apr,mon,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.466,5099.1,no
19,38,technician,married,university.degree,no,yes,no,cellular,may,wed,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1,no
20,50,blue-collar,married,basic.4y,no,yes,no,telephone,jun,thu,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1,no
21,33,entrepreneur,married,high.school,no,yes,no,telephone,jun,wed,...,8,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
22,83,retired,divorced,basic.4y,no,no,yes,cellular,jun,fri,...,2,999,0,nonexistent,-1.7,94.055,-39.8,0.748,4991.6,yes
23,71,retired,married,basic.4y,no,yes,no,telephone,sep,thu,...,1,999,0,nonexistent,-3.4,92.379,-29.8,0.809,5017.5,no
24,31,blue-collar,married,basic.6y,no,no,no,cellular,may,tue,...,3,999,1,failure,-1.8,92.893,-46.2,1.291,5099.1,no
25,33,admin.,single,university.degree,no,no,no,cellular,jul,mon,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
26,45,unemployed,married,basic.6y,unknown,no,no,cellular,jul,wed,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no
27,42,admin.,married,university.degree,no,yes,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
28,39,admin.,married,university.degree,no,yes,no,telephone,may,thu,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,yes
29,26,technician,married,professional.course,no,yes,no,cellular,jul,tue,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12327,32,unknown,married,basic.9y,no,no,no,cellular,aug,thu,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no
12328,44,technician,single,unknown,unknown,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
12329,29,technician,single,professional.course,no,yes,no,cellular,may,wed,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1,no
12330,36,admin.,divorced,high.school,no,no,no,telephone,may,tue,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
12331,57,retired,divorced,university.degree,no,yes,no,telephone,nov,tue,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.700,5195.8,no
12332,35,blue-collar,divorced,basic.4y,no,yes,no,cellular,jul,tue,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
12333,39,admin.,married,basic.6y,unknown,no,no,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
12334,32,services,married,high.school,no,no,no,cellular,may,tue,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no
12335,45,blue-collar,married,basic.9y,unknown,no,no,telephone,jun,wed,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
12336,39,blue-collar,married,basic.4y,unknown,no,no,telephone,jun,mon,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1,no
12337,29,entrepreneur,married,university.degree,no,yes,no,cellular,jul,tue,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
12338,32,services,married,high.school,unknown,no,no,cellular,may,thu,...,1,999,1,failure,-1.8,92.893,-46.2,1.327,5099.1,no
12339,51,unemployed,married,high.school,unknown,yes,no,telephone,jun,wed,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
12340,52,admin.,single,high.school,unknown,yes,no,cellular,jul,tue,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
12341,36,admin.,divorced,university.degree,no,yes,no,telephone,may,wed,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
12342,40,admin.,divorced,high.school,no,yes,no,cellular,aug,wed,...,6,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no
12343,23,technician,single,professional.course,no,unknown,unknown,cellular,may,fri,...,5,999,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1,no
12344,33,admin.,married,high.school,no,yes,no,cellular,jul,fri,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
12345,31,admin.,single,university.degree,no,yes,no,cellular,apr,mon,...,1,999,1,failure,-1.8,93.075,-47.1,1.405,5099.1,no
12346,27,blue-collar,single,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
12347,55,admin.,married,university.degree,no,yes,yes,cellular,jul,fri,...,2,999,1,failure,-1.7,94.215,-40.3,0.790,4991.6,no
12348,55,entrepreneur,divorced,unknown,no,no,no,cellular,jul,tue,...,9,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
12349,38,admin.,single,university.degree,no,yes,no,cellular,aug,mon,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
12350,39,unemployed,married,basic.9y,no,no,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no
12351,50,blue-collar,married,basic.4y,unknown,no,no,telephone,jun,tue,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1,no
12352,60,housemaid,married,basic.4y,no,yes,no,cellular,jun,tue,...,3,999,1,failure,-1.7,94.055,-39.8,0.723,4991.6,yes
12353,28,admin.,married,high.school,no,yes,no,telephone,jul,tue,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.955,5228.1,no
12354,23,services,single,high.school,no,no,no,cellular,jul,mon,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no
12355,49,technician,married,professional.course,no,no,no,cellular,nov,tue,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,no
12356,34,blue-collar,divorced,professional.course,no,no,no,telephone,jun,thu,...,4,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1,yes

## 2. Car fuel consumption

Drive the same car and take almost always the same route. At the gas station aletrnate the gas type; between SP98 (sold as “Super plus” sometimes) and SP95 E10 (This is, “super” gas with 10% Alcohol). E10 is sold for 1,38€; SP98 is sold for 1,46€; per liter.

The car consumes a lot more with E10. From the data, what can we derive there?

For a few months data of the car’s display after each ride was recorded, while regularly changing the gas type.

In the file, there is:

the displayed distance (km); the consumption (L/100km); the average speed (km/h), the temperature inside (°C) the car, the temperature outside (°C) the car, anything special that happened, if it was raining, if the air condition was on, and the gas type.

The plan is to answer the following:

Which gas is consumed the most? What is the relationship amongst the variables

… and also glean any other infomation possible.

In [8]:
car_fuel_cosumption = pd.read_excel('car-consume/measurements2.xlsx')

In [9]:
car_fuel_cosumption

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28.0,5.0,26,21.5,12,NaN,E10,0,0,0,45.0,E10
1,12.0,4.2,30,21.5,13,NaN,E10,0,0,0,NaN,NaN
2,11.2,5.5,38,21.5,15,NaN,E10,0,0,0,NaN,NaN
3,12.9,3.9,36,21.5,14,NaN,E10,0,0,0,NaN,NaN
4,18.5,4.5,46,21.5,15,NaN,E10,0,0,0,NaN,NaN
5,8.3,6.4,50,21.5,10,NaN,E10,0,0,0,NaN,NaN
6,7.8,4.4,43,21.5,11,NaN,E10,0,0,0,NaN,NaN
7,12.3,5.0,40,21.5,6,NaN,E10,0,0,0,NaN,NaN
8,4.9,6.4,26,21.5,4,NaN,E10,0,0,0,NaN,NaN
9,11.9,5.3,30,21.5,9,NaN,E10,0,0,0,NaN,NaN
10,12.4,5.6,42,21.5,4,NaN,E10,0,0,0,NaN,NaN
11,11.8,4.6,38,21.5,0,NaN,E10,0,0,0,NaN,NaN
12,12.3,5.9,59,21.5,10,NaN,E10,0,0,0,NaN,NaN
13,24.7,5.1,58,21.5,12,NaN,E10,0,0,0,NaN,NaN
14,12.4,4.7,46,21.5,11,NaN,E10,0,0,0,NaN,NaN
15,17.3,5.1,24,21.5,5,NaN,E10,0,0,0,NaN,NaN
16,33.4,5.6,36,21.5,3,NaN,E10,0,0,0,NaN,NaN
17,11.8,5.1,32,21.5,3,NaN,E10,0,0,0,NaN,NaN
18,25.9,4.9,39,21.5,8,NaN,E10,0,0,0,NaN,NaN
19,11.8,4.7,40,21.5,4,NaN,E10,0,0,0,NaN,NaN
20,25.3,5.5,32,21.5,3,NaN,E10,0,0,0,NaN,NaN
21,14.2,5.9,38,21.5,1,NaN,E10,0,0,0,NaN,NaN
22,17.9,5.7,37,21.5,1,NaN,E10,0,0,0,NaN,NaN
23,11.8,4.7,36,21.5,1,NaN,E10,0,0,0,NaN,NaN
24,12.3,5.9,62,21.5,6,NaN,E10,0,0,0,NaN,NaN
25,12.4,4.1,57,21.5,9,NaN,E10,0,0,0,NaN,NaN
26,18.4,5.7,21,22.5,2,NaN,E10,0,0,0,NaN,NaN
27,18.4,5.8,28,21.5,3,NaN,E10,0,0,0,NaN,NaN
28,18.3,5.5,29,21.5,1,NaN,E10,0,0,0,NaN,NaN
29,18.4,5.7,35,21.5,4,NaN,E10,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
358,6.1,5.0,33,22.0,24,sun,SP98,0,0,1,NaN,NaN
359,17.3,4.2,36,22.0,22,NaN,SP98,0,0,0,NaN,NaN
360,6.0,4.8,27,22.0,17,NaN,SP98,0,0,0,NaN,NaN
361,16.0,4.1,45,22.0,15,NaN,SP98,0,0,0,NaN,NaN
362,15.4,4.9,55,22.0,18,NaN,SP98,0,0,0,NaN,NaN
363,15.4,4.3,39,22.0,23,NaN,SP98,0,0,0,NaN,NaN
364,16.0,3.9,35,22.0,18,NaN,SP98,0,0,0,NaN,NaN
365,15.4,4.5,52,22.0,26,NaN,SP98,0,0,0,NaN,NaN
366,16.6,4.1,48,25.5,30,sun ac,SP98,1,0,1,NaN,NaN
367,15.4,5.0,48,25.5,31,ac,SP98,1,0,0,NaN,NaN
368,16.0,4.0,43,22.0,21,ac,SP98,1,0,0,NaN,NaN
369,15.4,4.5,42,22.0,30,NaN,SP98,0,0,0,NaN,NaN
370,16.0,3.6,43,22.0,19,NaN,SP98,0,0,0,NaN,NaN
371,20.9,4.1,33,22.0,21,NaN,SP98,0,0,0,NaN,NaN
372,32.1,3.9,47,22.0,26,NaN,SP98,0,0,0,NaN,NaN
373,15.3,6.6,16,24.0,27,ac,SP98,1,0,0,NaN,NaN
374,28.5,4.0,44,25.0,23,ac,SP98,1,0,0,NaN,NaN
375,11.9,3.7,33,25.0,19,NaN,SP98,0,0,0,NaN,NaN
376,14.5,4.3,36,25.0,22,NaN,SP98,0,0,0,NaN,NaN
377,16.6,4.1,49,22.0,26,sun,SP98,0,0,1,NaN,NaN
378,16.2,4.4,39,24.5,17,ac,SP98,1,0,0,NaN,NaN
379,16.7,3.8,44,24.5,23,sun,SP98,0,0,1,NaN,NaN
380,8.3,5.0,52,24.5,27,NaN,SP98,0,0,0,NaN,NaN
381,5.5,3.7,33,24.5,28,sun,SP98,0,0,1,NaN,NaN
382,13.6,3.7,33,24.5,28,sun,SP98,0,0,1,NaN,NaN
383,16.0,3.7,39,24.5,18,NaN,SP98,0,0,0,NaN,NaN
384,16.1,4.3,38,25.0,31,AC,SP98,1,0,0,NaN,NaN
385,16.0,3.8,45,25.0,19,NaN,SP98,0,0,0,NaN,NaN
386,15.4,4.6,42,25.0,31,AC,SP98,1,0,0,NaN,NaN
387,14.7,5.0,25,25.0,30,AC,SP98,1,0,0,NaN,NaN

## 3. student performance

### Attributes for both student-mat.csv (Math course) datasets:
- 1 school - student's school (binary: "GP" - Gabriel Pereira or "MS" - Mousinho da Silveira)
- 2 sex - student's sex (binary: "F" - female or "M" - male)
- 3 age - student's age (numeric: from 15 to 22)
- 4 address - student's home address type (binary: "U" - urban or "R" - rural)
- 5 famsize - family size (binary: "LE3" - less or equal to 3 or "GT3" - greater than 3)
- 6 Pstatus - parent's cohabitation status (binary: "T" - living together or "A" - apart)
- 7 Medu - mother's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
- 8 Fedu - father's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
- 9 Mjob - mother's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")
- 10 Fjob - father's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")
- 11 reason - reason to choose this school (nominal: close to "home", school "reputation", "course" preference or "other")
- 12 guardian - student's guardian (nominal: "mother", "father" or "other")
- 13 traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
- 14 studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
- 15 failures - number of past class failures (numeric: n if 1<=n<3, else 4)
- 16 schoolsup - extra educational support (binary: yes or no)
- 17 famsup - family educational support (binary: yes or no)
- 18 paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
- 19 activities - extra-curricular activities (binary: yes or no)
- 20 nursery - attended nursery school (binary: yes or no)
- 21 higher - wants to take higher education (binary: yes or no)
- 22 internet - Internet access at home (binary: yes or no)
- 23 romantic - with a romantic relationship (binary: yes or no)
- 24 famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
- 25 freetime - free time after school (numeric: from 1 - very low to 5 - very high)
- 26 goout - going out with friends (numeric: from 1 - very low to 5 - very high)
- 27 Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
- 28 Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
- 29 health - current health status (numeric: from 1 - very bad to 5 - very good)
- 30 absences - number of school absences (numeric: from 0 to 93)

### these grades are related with the course subject, Math or Portuguese:
- 31 G1 - first period grade (numeric: from 0 to 20)
- 31 G2 - second period grade (numeric: from 0 to 20)
- 32 G3 - final grade (numeric: from 0 to 20, **output target**)

In [10]:
student_performance = pd.read_csv('student/student-mat.csv',delimiter=';')

In [11]:
student_performance

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,4,14,14,14
16,GP,F,16,U,GT3,T,4,4,services,services,...,3,2,3,1,2,2,6,13,14,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,5,3,2,1,1,4,4,8,10,10
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,5,2,4,5,16,6,5,5
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,1,3,5,4,8,10,10
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,13,14,15
21,GP,M,15,U,GT3,T,4,4,health,health,...,5,4,2,1,1,5,0,12,15,15
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,4,5,1,1,3,5,2,15,15,16
23,GP,M,16,U,LE3,T,2,2,other,other,...,5,4,4,2,4,5,0,13,13,12
24,GP,F,15,R,GT3,T,2,4,services,health,...,4,3,2,1,1,5,2,10,9,8
25,GP,F,16,U,GT3,T,2,2,services,services,...,1,2,2,1,3,5,14,6,9,8
26,GP,M,15,U,GT3,T,2,2,other,other,...,4,2,2,1,2,5,2,12,12,11
27,GP,M,15,U,GT3,T,4,2,health,services,...,2,2,4,2,4,1,4,15,16,15
28,GP,M,16,U,LE3,A,3,4,services,other,...,5,3,3,1,1,5,4,11,11,11
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,4,5,5,5,5,16,10,12,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,at_home,other,...,3,3,4,2,4,3,4,10,10,10
366,MS,M,18,U,LE3,T,4,4,teacher,services,...,4,2,2,2,2,5,0,13,13,13
367,MS,F,17,R,GT3,T,1,1,other,services,...,5,2,1,1,2,1,0,7,6,0
368,MS,F,18,U,GT3,T,2,3,at_home,services,...,5,2,3,1,2,4,0,11,10,10
369,MS,F,18,R,GT3,T,4,4,other,teacher,...,3,2,2,4,2,5,10,14,12,11
370,MS,F,19,U,LE3,T,3,2,services,services,...,3,2,2,1,1,3,4,7,7,9
371,MS,M,18,R,LE3,T,1,2,at_home,services,...,4,3,3,2,3,3,3,14,12,12
372,MS,F,17,U,GT3,T,2,2,other,at_home,...,3,4,3,1,1,3,8,13,11,11
373,MS,F,17,R,GT3,T,1,2,other,other,...,3,5,5,1,3,1,14,6,5,5
374,MS,F,18,R,LE3,T,4,4,other,other,...,5,4,4,1,1,1,0,19,18,19
375,MS,F,18,R,GT3,T,1,1,other,other,...,4,3,2,1,2,4,2,8,8,10
376,MS,F,20,U,GT3,T,4,2,health,other,...,5,4,3,1,1,3,4,15,14,15
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,4,8,9,10
378,MS,F,18,U,GT3,T,3,3,other,other,...,4,1,3,1,2,1,0,15,15,15
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,17,10,10,10
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,15,14,14
381,MS,M,18,R,GT3,T,2,1,other,other,...,4,4,3,1,3,5,5,7,6,7
382,MS,M,17,U,GT3,T,2,3,other,services,...,4,4,3,1,1,3,2,11,11,10
383,MS,M,19,R,GT3,T,1,1,other,services,...,4,3,2,1,3,5,0,6,5,0
384,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,14,6,5,5
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

## 4. Loan prediction

In [12]:
loan_prediction = pd.read_csv('loan prediction/loan-prediction.csv')

In [13]:
loan_prediction

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

## 5. Software Defect Prediction

- Number of instances: 10885

- Number of attributes: 22 (5 different lines of code measure, 3 McCabe metrics, 4 base Halstead measures, 8 derived 
          Halstead measures, a branch-count, and 1 goal field)

- Attribute Information:
 
      1. loc             : numeric % McCabe's line count of code
      2. v(g)            : numeric % McCabe "cyclomatic complexity"
      3. ev(g)           : numeric % McCabe "essential complexity"
      4. iv(g)           : numeric % McCabe "design complexity"
      5. n               : numeric % Halstead total operators + operands
      6. v               : numeric % Halstead "volume"
      7. l               : numeric % Halstead "program length"
      8. d               : numeric % Halstead "difficulty"
      9. i               : numeric % Halstead "intelligence"
     10. e               : numeric % Halstead "effort"
     11. b               : numeric % Halstead 
     12. t               : numeric % Halstead's time estimator
     13. lOCode          : numeric % Halstead's line count
     14. lOComment       : numeric % Halstead's count of lines of comments
     15. lOBlank         : numeric % Halstead's count of blank lines
     16. lOCodeAndComment: numeric
     17. uniq_Op         : numeric % unique operators
     18. uniq_Opnd       : numeric % unique operands
     19. total_Op        : numeric % total operators
     20. total_Opnd      : numeric % total operands
     21. branchCount     : numeric % of the flow graph
     22. defects         : {false,true} % module has/has not one or more 
                                        % reported defects

- Missing attributes: none

- Class Distribution: the class value (defects) is discrete 
    false: 2106 = 19.35%
    true:  8779 = 80.65%

In [14]:
software_defect = pd.read_csv('software-defect-prediction/jm1.csv')

In [15]:
software_defect

,loc,v(g),ev(g),iv(g),n,v,l,d,i,e,...,lOCode,lOComment,lOBlank,locCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,defects
0,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,1.30,...,2,2,2,2,1.2,1.2,1.2,1.2,1.4,False
1,1.0,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,...,1,1,1,1,1,1,1,1,1,True
2,72.0,7.0,1.0,6.0,198.0,1134.13,0.05,20.31,55.85,23029.10,...,51,10,8,1,17,36,112,86,13,True
3,190.0,3.0,1.0,3.0,600.0,4348.76,0.06,17.06,254.87,74202.67,...,129,29,28,2,17,135,329,271,5,True
4,37.0,4.0,1.0,4.0,126.0,599.12,0.06,17.19,34.86,10297.30,...,28,1,6,0,11,16,76,50,7,True
5,31.0,2.0,1.0,2.0,111.0,582.52,0.08,12.25,47.55,7135.87,...,19,0,5,0,14,24,69,42,3,True
6,78.0,9.0,5.0,4.0,0.0,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,17,True
7,8.0,1.0,1.0,1.0,16.0,50.72,0.36,2.80,18.11,142.01,...,5,0,1,0,4,5,9,7,1,True
8,24.0,2.0,1.0,2.0,0.0,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,3,True
9,143.0,22.0,20.0,10.0,0.0,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,43,True
10,73.0,10.0,4.0,6.0,0.0,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,19,True
11,83.0,11.0,10.0,7.0,0.0,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,21,True
12,12.0,3.0,1.0,1.0,37.0,167.37,0.15,6.87,24.34,1150.68,...,8,0,2,0,11,12,22,15,5,True
13,48.0,4.0,1.0,4.0,129.0,695.61,0.06,17.35,40.10,12067.30,...,29,1,16,0,19,23,87,42,7,True
14,68.0,8.0,1.0,5.0,0.0,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,15,True
15,138.0,22.0,10.0,8.0,0.0,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,43,True
16,10.0,1.0,1.0,1.0,9.0,27.00,0.50,2.00,13.50,54.00,...,2,0,6,0,4,4,5,4,1,True
17,250.0,49.0,34.0,16.0,1469.0,9673.31,0.01,97.00,99.72,938311.06,...,139,92,17,0,32,64,1081,388,97,True
18,77.0,8.0,1.0,1.0,284.0,1160.84,0.02,40.95,28.35,47536.38,...,59,0,16,0,7,10,167,117,15,True
19,85.0,9.0,1.0,7.0,277.0,1714.58,0.03,32.64,52.53,55961.02,...,69,0,14,0,26,47,161,118,13,True
20,110.0,17.0,13.0,8.0,322.0,2069.26,0.03,33.41,61.94,69127.22,...,81,13,14,0,27,59,176,146,33,True
21,49.0,6.0,6.0,3.0,171.0,927.89,0.04,25.33,36.63,23506.58,...,34,0,13,0,19,24,107,64,11,True
22,187.0,35.0,26.0,16.0,526.0,3296.33,0.02,42.56,77.45,140300.03,...,164,1,16,0,21,56,299,227,69,True
23,27.0,6.0,6.0,3.0,0.0,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,11,True
24,38.0,8.0,1.0,3.0,145.0,673.36,0.05,20.53,32.80,13824.90,...,29,0,7,0,9,16,72,73,15,True
25,294.0,43.0,33.0,24.0,814.0,5811.59,0.02,40.88,142.15,237606.80,...,223,41,26,2,28,113,484,330,85,True
26,29.0,3.0,1.0,3.0,88.0,465.12,0.08,12.04,38.63,5599.99,...,21,0,6,0,14,25,45,43,5,True
27,160.0,5.0,4.0,3.0,698.0,4862.12,0.03,33.11,146.86,160969.13,...,123,11,23,1,22,103,388,310,9,True
28,94.0,16.0,9.0,5.0,218.0,1236.59,0.03,34.52,35.83,42683.63,...,66,19,6,1,22,29,127,91,31,True
29,48.0,3.0,1.0,3.0,157.0,927.38,0.08,13.09,70.84,12140.27,...,34,1,9,0,16,44,85,72,5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10855,126.0,22.0,22.0,1.0,256.0,1380.43,0.02,56.89,24.26,78539.39,...,85,27,11,0,23,19,162,94,37,False
10856,127.0,16.0,16.0,1.0,198.0,998.79,0.02,43.80,22.80,43747.00,...,74,36,14,0,18,15,125,73,29,False
10857,61.0,7.0,7.0,1.0,92.0,451.43,0.04,23.54,19.18,10626.06,...,30,20,7,0,17,13,56,36,13,False
10858,171.0,10.0,6.0,4.0,356.0,1966.39,0.02,65.45,30.04,128709.04,...,75,61,33,0,24,22,236,120,19,False
10859,715.0,71.0,14.0,10.0,3072.0,19741.49,0.00,418.20,47.21,8255889.43,...,499,60,154,0,41,45,2154,918,133,False
10860,250.0,19.0,1.0,14.0,955.0,6020.11,0.01,71.06,84.71,427818.05,...,139,60,49,0,25,54,648,307,37,False
10861,77.0,6.0,1.0,1.0,162.0,1002.75,0.02,44.24,22.66,44364.16,...,56,13,5,0,40,33,89,73,8,False
10862,79.0,19.0,8.0,1.0,314.0,1682.27,0.02,51.90,32.40,87317.89,...,47,15,15,0,20,21,205,109,37,False
10863,57.0,4.0,1.0,3.0,336.0,1959.85,0.04,25.62,76.51,50202.34,...,40,5,9,0,18,39,225,111,7,False
10864,4.0,1.0,1.0,1.0,16.0,59.21,0.25,4.00,14.80,236.83,...,2,0,0,0,8,5,11,5,1,False
10865,63.0,7.0,1.0,5.0,145.0,805.42,0.06,16.00,50.34,12886.65,...,44,6,11,0,16,31,83,62,13,False
10866,9.0,1.0,1.0,1.0,16.0,55.35,0.11,9.00,6.15,498.16,...,4,0,3,0,9,2,12,4,1,False
10867,3.0,1.0,1.0,1.0,6.0,15.51,0.50,2.00,7.75,31.02,...,1,0,0,0,4,2,4,2,1,False
10868,10.0,2.0,1.0,2.0,22.0,73.08,0.15,6.75,10.83,493.31,...,7,0,1,0,6,4,13,9,3,False
10869,9.0,3.0,1.0,1.0,0.0,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,5,False
10870,27.0,4.0,1.0,3.0,99.0,447.83,0.05,21.27,21.05,9526.62,...,23,0,1,1,12,11,60,39,7,False
10871,12.0,3.0,3.0,2.0,29.0,129.32,0.10,9.64,13.41,1247.05,...,7,0,3,0,15,7,20,9,5,False
10872,25.0,3.0,1.0,1.0,31.0,124.00,0.13,7.71,16.07,956.57,...,13,8,2,0,9,7,19,12,5,False
10873,37.0,6.0,1.0,4.0,104.0,524.62,0.04,23.75,22.09,12459.65,...,29,0,4,2,19,14,69,35,11,False
10874,24.0,3.0,1.0,1.0,31.0,124.00,0.13,7.71,16.07,956.57,...,13,7,2,0,9,7,19,12,5,False
10875,37.0,6.0,1.0,4.0,104.0,524.62,0.04,23.75,22.09,12459.65,...,29,0,4,2,19,14,69,35,11,False
10876,10.0,2.0,1.0,1.0,21.0,82.04,0.27,3.67,22.38,300.83,...,5,0,3,0,6,9,10,11,3,False
10877,5.0,1.0,1.0,1.0,4.0,8.00,0.67,1.50,5.33,12.00,...,2,0,1,0,3,1,3,1,1,False
10878,4.0,1.0,1.0,1.0,5.0,11.61,0.67,1.50,7.74,17.41,...,2,0,0,0,3,2,3,2,1,False
10879,24.0,2.0,1.0,2.0,95.0,470.65,0.08,12.10,38.90,5694.85,...,18,0,4,0,11,20,51,44,3,False
10880,18.0,4.0,1.0,4.0,52.0,241.48,0.14,7.33,32.93,1770.86,...,13,0,2,0,10,15,30,22,7,False
10881,9.0,2.0,1.0,2.0,30.0,129.66,0.12,8.25,15.72,1069.68,...,5,0,2,0,12,8,19,11,3,False
10882,42.0,4.0,1.0,2.0,103.0,519.57,0.04,26.40,19.68,13716.72,...,29,1,10,0,18,15,59,44,7,False
10883,10.0,1.0,1.0,1.0,36.0,147.15,0.12,8.44,17.44,1241.57,...,6,0,2,0,9,8,21,15,1,False
10884,19.0,3.0,1.0,1.0,58.0,272.63,0.09,11.57,23.56,3154.67,...,13,0,2,1,12,14,31,27,5,False

#### Size of the datasets

In [16]:
print 'Bank Marketing Dataset:',bank_marketing2.shape,'\n'
print 'Car Fuel Cosumption Dataset:',car_fuel_cosumption.shape,'\n'
print 'Student Performance Dataset:',student_performance.shape,'\n'
print 'Loan Prediction Dataset:',loan_prediction.shape,'\n'
print 'Software Defect Prediction Dataset:',software_defect.shape,'\n'

Bank Marketing Dataset: (12357, 21)

Car Fuel Cosumption Dataset: (388, 12)

Student Performance Dataset: (395, 33)

Loan Prediction Dataset: (614, 13)

Software Defect Prediction Dataset: (10885, 22)

## Train-Test Splits

In [17]:
# Bank Marketing Dataset

X = bank_marketing2.iloc[:,0:20]
y = bank_marketing2.y
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0,stratify = y,test_size = 0.3)

X_train.reset_index(drop=True,inplace=True)
y_train.reset_index(drop=True,inplace=True)
X_test.reset_index(drop=True,inplace=True)
y_test.reset_index(drop=True,inplace=True)

bank_marketing_train = pd.concat([X_train,y_train],axis=1)
bank_marketing_test = X_test
bank_marketing_test_solutions = y_test

print bank_marketing_train.shape
print bank_marketing_test.shape

(8649, 21)
(3708, 20)

In [18]:
# Car Fuel Cosumption Dataset:

X = car_fuel_cosumption.loc[:,['distance','speed','temp_inside','temp_outside',
       'specials', 'gas_type', 'AC', 'rain', 'sun', 'refill liters',
       'refill gas']]
y = car_fuel_cosumption.consume
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0,stratify = car_fuel_cosumption.gas_type,test_size = 0.3)

X_train.reset_index(drop=True,inplace=True)
y_train.reset_index(drop=True,inplace=True)
X_test.reset_index(drop=True,inplace=True)
y_test.reset_index(drop=True,inplace=True)

car_fuel_cosumption_train = pd.concat([X_train,y_train],axis=1)
car_fuel_cosumption_test = X_test
car_fuel_cosumption_test_solutions = y_test

print car_fuel_cosumption_train.shape
print car_fuel_cosumption_test.shape

(271, 12)
(117, 11)

In [19]:
# Student Performance Dataset

X = student_performance.loc[:,['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu',
       'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic',
       'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health',
       'absences', 'G1', 'G2']]
y = student_performance.G3
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0,stratify = student_performance.sex,test_size = 0.3)

X_train.reset_index(drop=True,inplace=True)
y_train.reset_index(drop=True,inplace=True)
X_test.reset_index(drop=True,inplace=True)
y_test.reset_index(drop=True,inplace=True)

student_performance_train = pd.concat([X_train,y_train],axis=1)
student_performance_test = X_test
student_performance_test_solutions = y_test

print student_performance_train.shape  
print student_performance_test.shape

(276, 33)
(119, 32)

In [20]:
# Loan Prediction Dataset

X = loan_prediction.loc[:,['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome',
       'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area']]
y = loan_prediction.Loan_Status
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0,stratify = y,test_size = 0.3)

X_train.reset_index(drop=True,inplace=True)
y_train.reset_index(drop=True,inplace=True)
X_test.reset_index(drop=True,inplace=True)
y_test.reset_index(drop=True,inplace=True)

loan_prediction_train = pd.concat([X_train,y_train],axis=1)
loan_prediction_test = X_test
loan_prediction_test_solutions  = y_test

print loan_prediction_train.shape  
print loan_prediction_test.shape

(429, 13)
(185, 12)

In [21]:
# Software Defect Prediction Dataset

X = software_defect.loc[:,['loc', 'v(g)', 'ev(g)', 'iv(g)', 'n', 'v', 'l', 'd', 'i', 'e',
       'b', 't', 'lOCode', 'lOComment', 'lOBlank', 'locCodeAndComment',
       'uniq_Op', 'uniq_Opnd', 'total_Op', 'total_Opnd', 'branchCount']]
y = software_defect.defects
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0,stratify = y,test_size = 0.3)

X_train.reset_index(drop=True,inplace=True)
y_train.reset_index(drop=True,inplace=True)
X_test.reset_index(drop=True,inplace=True)
y_test.reset_index(drop=True,inplace=True)

software_defect_train = pd.concat([X_train,y_train],axis=1)
software_defect_test = X_test
software_defect_test_solutions = y_test

print software_defect_train.shape  
print software_defect_test.shape

(7619, 22)
(3266, 21)

## Dataframes to csv

## Train

In [22]:
bank_marketing_train.to_csv('Bank_Marketing_Train.csv',header=True)
car_fuel_cosumption_train.to_csv('Car_Fuel_Cosumption_Train.csv',header=True)
student_performance_train.to_csv('Student_Performance_Train.csv',header=True)
loan_prediction_train.to_csv('Loan_Prediction_Train.csv',header=True)
software_defect_train.to_csv('Software_Defect_Train.csv',header=True)

## Test

In [23]:
bank_marketing_test.to_csv('Bank_Marketing_Test.csv',header=True)
car_fuel_cosumption_test.to_csv('Car_Fuel_Cosumption_Test.csv',header=True)
student_performance_test.to_csv('Student_Performance_Test.csv',header=True)
loan_prediction_test.to_csv('Loan_Prediction_Test.csv',header=True)
software_defect_test.to_csv('Software_Defect_Test.csv',header=True)

## Test Labels

In [24]:
bank_marketing_test_solutions.to_csv('Bank_Marketing_Test_Solutions.csv',header=True)
car_fuel_cosumption_test_solutions.to_csv('Car_Fuel_Cosumption_Test_Solutions.csv',header=True)
student_performance_test_solutions.to_csv('Student_Performance_Test_Solutions.csv',header=True)
loan_prediction_test_solutions.to_csv('Loan_Prediction_Test_Solutions.csv',header=True)
software_defect_test_solutions.to_csv('Software_Defect_Test_Solutions.csv',header=True)